<form class="form">
    <div class="form-group">

        <input id="title" class="form-input" ></input>
        <textarea id="content" class="form-input"></textarea>
        <button id ="create-btn" class="btn" type="submit">Save</button>

    </div>

    

</form>



<script src="/js/create-blog.js"></script>