<form class="form">
    <div class="form-group">

        <input name= "{{id}}"id="title" class="form-input" value="{{title}}"></input>
        <textarea id="content" class="form-input">{{content}}</textarea>
        <button class="btn" type="submit">Save</button>

    </div>

    

</form>

{{>comment-section}}

<script src="/js/edit-blog.js"></script>